<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby - Kanji Guessr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='animation.js') }}" defer></script>
</head>
<body>
    <div class="top-gif-wrapper">
        <img id="title-gif" src="{{ url_for('static', filename='resources/KanjiGuessr.gif') }}" alt="KanjiGuessr">
    </div>
    <canvas id="matrixCanvas"></canvas>
    <div class="container">
        <div class="circle">
            <div>
                <p class="info">
                    Gamecode : {{gamecode}}
                </p>
                <p class="info">
                    Nickname : {{nickname}}
                </p>
                <div role="button" tabindex="0" class="button" onclick="createGame()">
                        START
                </div>
            </div>
        </div>
    </div>
</body>
</html>
